<!-- table3 -->
{{#if delete_messageshafiq}}
<div class='alert alert-success'> {{delete_messageshafiq}}</div>
{{/if}} {{#if edit_messageshafiq}}
<div class='alert alert-success'> {{edit_messageshafiq}}</div>
{{/if}}




<div class="outer-w3-agile mt-3">


    <h4 class="tittle-w3-agileits mb-4 mt-5">Showrooms Records</h4>
    <table class="table table-striped table-dark">
        <center style="margin:10px">
            <form method="post" action="/rooms/search">
                <select name="name">
                    <option>select any option</option>
                    {{#each sts}}
                    <option value="{{chc}}">{{chc}}</option>{{/each}}
                </select>
                <br>
                <button class="btn btn-success" style="margin:10px">Search</button>
                <a href="/home" class="btn btn-info">Go To Dashboard</a>
            </form>
        </center>
        <tbody>
            {{#each wood}}

            <tr>
                <th style="background-color:white;color:red" scope="row">
                    <p>NO#</p>
                </th>
                <td style="background-color:white;color:red">
                    <p> DATE</p>
                </td>

                <td style="background-color:white;color:red">
                    <p> BODY </p>
                </td>

                <td style="background-color:white;color:red">
                    <p>QUANTITY </p>
                </td>
                <td style="background-color:white;color:red">
                    <p> RATE</p>
                </td>
                <td style="background-color:white;color:red">
                    <p> RATE TOTAL </p>
                </td>
                <td style="background-color:blue;color:white">
                    <p>ADVANCE </p>
                </td>

                <td style="background-color:red;color:white">
                    <p> PREVIOUS </p>
                </td>
                <td style="background-color:green;color:white">
                    <p> BALANCE </p>
                </td>




            </tr>


            <tr>
                <th style="color:white" scope="row">1</th>


                <td>
                    {{date1}}
                </td>
                <td>
                    {{a}}
                </td>

                <td>
                    {{b}}
                </td>
                <td>
                    {{c}}
                </td>



                <td>
                    {{d}}
                </td>
                <td style="color:red">
                    {{e}}
                </td>

                <td style="background-color:green;color:white">
                    {{f}}
                </td>
                <td style="background-color:green ;color:white"> ladjer</td>

            </tr>







            <tr>
                <th style="color:white" scope="row">2</th>
                <td>
                    {{date2}}
                </td>
                <td>
                    {{g}}
                </td>
                <td>
                    {{h}}
                </td>

                <td>
                    {{i}}
                </td>

                <td>
                    {{j}}
                </td>
                <td>
                    {{k}}
                </td>


                <td>
                    {{l}}
                </td>

                <td>
                    {{m}}
                </td>


            </tr>



            <tr>
                <th style="color:white" scope="row">3</th>
                <td>
                    {{date3}}
                </td>
                <td>
                    {{n}}
                </td>
                <td>
                    {{o}}
                </td>

                <td>
                    {{p}}
                </td>
                <td>
                    {{q}}
                </td>


                </td>


                <td>
                    {{r}}
                </td>


                <td>
                    {{s}}
                </td>

                <td>
                    {{t}}
                </td>

            </tr>




            <tr>
                <th style="color:white" scope="row">4</th>
                <td>
                    {{date4}}
                </td>
                <td>
                    {{u}}
                </td>

                <td>
                    {{v}}
                </td>

                <td>
                    {{w}}
                </td>
                <td>
                    {{x}}
                </td>


                <td>
                    {{z}}
                </td>


                <td>
                    {{aa}}
                </td>

                <td>
                    {{bb}}
                </td>

            </tr>



            <tr>
                <th style="color:white" scope="row">5</th>


                <td>
                    {{date5}}
                </td>
                <td>
                    {{cc}}
                </td>

                <td>
                    {{dd}}
                </td>

                <td>
                    {{ee}}
                </td>
                <td>
                    {{ff}}
                </td>




                <td>
                    {{gg}}
                </td>


                <td>
                    {{hh}}
                </td>

                <td>
                    {{ii}}
                </td>

            </tr>

            <tr>
                <th style="color:white" scope="row">6</th>
                <td>
                    {{date6}}
                </td>
                <td>
                    {{jj}}
                </td>
                <td>
                    {{kk}}
                </td>

                <td>
                    {{ll}}
                </td>
                <td>
                    {{mm}}
                </td>

                <td>
                    {{nn}}
                </td>


                <td>
                    {{oo}}
                </td>

                <td>
                    {{pp}}
                </td>
            </tr>

            <tr>
                <th style="color:white" scope="row">7</th>
                <td>
                    {{date7}}
                </td>
                <td>
                    {{qq}}
                </td>

                <td>
                    {{rr}}
                </td>

                <td>
                    {{ss}}
                </td>
                <td>
                    {{tt}}
                </td>

                <td>
                    {{uu}}
                </td>


                <td>
                    {{vv}}
                </td>

                <td>
                    {{ww}}
                </td>

                <td>
                    <form action="/rooms/delete/{{id}}?_method=delete" method="post">
                        <button type="submit" class="btn btn-danger">delete</button>
                    </form>

                </td>

                <td>

                    <a href="/rooms/edit/{{id}}" class='btn btn-info'> edit</a>
                </td>
                <td>

                    <a href="/rooms" class='btn btn-success'>Create record</a>
                </td>
            </tr>




        </tbody>
        {{/each}}
    </table>
</div>
<!--// table3 -->